.icon{
    font-size: x-small;
    size: 10px;
    height: 20px;
    font-weight: 10000;
    opacity: 0.7;
    padding-right: 18px;
    padding-top: 9%;
    
  }

.button
{
  background-color: transparent;
  border: 0ch;
}  
  .more{
    padding-top: 9px;
  }
 