<div fxFlex=100 fxLayout="column" fxLayoutAlign="center center">
    <div class="borderStyleforget" fxLayout="row" fxLayoutAlign="center center">
            <div class ="FundooForget" >
                <div class="form-head-text">
                    <img src='../../../assets/Fundoo.png' alt="" width='110' height='15' />
                    <h1>Find your Password</h1>
                    <h2>Enter your recovery Email or
                        phone no</h2>
                </div>
                <form [formGroup]="forgetpasswordForm" (ngSubmit)="OnSubmit()">        
                <div>
                    <div>
                        <mat-form-field class="EmailUI" appearance="outline">
                            <mat-label>Phone no Or Email</mat-label>
                            <input matInput placeholder="Email" formControlName="email">
                            <mat-error>Enter valid Email id</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="forNext">
                        <div>
                                <button mat-flat-button color="primary">Next</button>
                        </div>
                    </div>
                </div>
        </form>
        </div>
    </div>
</div>