.form-head-text {
    text-align: left;
    font: normal normal normal 28px/37px Roboto;
    text-transform: capitalize;
    justify-content: left;
}

 .buttonStyle {
     border: 0px;
     background-color: white;
     color: #3f51b5;
     font-size: medium;
     margin-top: 5px;
 }

 .forLoginAndSignUp {
     width: 100%;
     display: flex;
     justify-content: space-between;
     margin: 5% 0;
     text-align: center;
 }

 .account {
     margin-left: 50px;
     font-size: medium;
     align-items: center;
 }

 .registration{
    border: 1px solid lightgray;
    padding: 50px;
    margin: 50px;
    border-radius: 10px;
    box-shadow: 0px 3px 6px #00000029;
 }
 @media only screen and (max-width: 992px) {
    .registration {
        padding: 30px;
        margin: 30px;
    }

    .registration .FirstLastName .mat-form-field {margin-bottom: 0 !important;}
}
@media only screen and (max-width: 600px) {
    .registration {
        border: none;
        padding: 28px;
        margin: 0px;
        border-radius: 0px;
    }
}