.borderStyle {
    border: 1px solid lightgray;
    padding: 50px;
    margin: 100px;
    border-radius: 10px;
    box-shadow: 0px 3px 6px #00000029;
    justify-content: center;
      display: flex;
      flex-flow: column wrap;
}

.designEmailreset {
    width: 80%;
    padding-left: 30px;

}

.form-head-text {
    text-align: center;
    font: normal normal normal 28px/37px Roboto;
    text-transform: capitalize;
    justify-content: center;
  }

  .form-footer {
    width: 100%;
    display: flex;
    justify-content: right;
    margin: 5% 0;
    text-align: center;
}
