.borderStyle {
  border: 1px solid lightgray;
  padding: 50px 50px 100px 50px;
  margin: 50px;
  border-radius: 10px;
  box-shadow: 0px 3px 6px #00000029;
}



.form-head-text {
    text-align: center;
    font: normal normal normal 28px/37px Roboto;
    text-transform: capitalize;
    justify-content: center;
  }

  .form-footer {
    width: 100%;
    display: flex;
    margin: 5% 0;
}

@media only screen and (max-width: 992px) {
  .borderStyle{
      padding: 30px 30px 70px 30px;
      margin: 30px;
  }
}
@media only screen and (max-width: 600px) {
  .borderStyle {
      border: none;
      padding: 28px;
      margin: 0px;
      border-radius: 0px;
  }
}