<div fxFlex=100 fxLayout="column" fxLayoutAlign="center center">
    <div class="borderStyle" fxLayout="row" fxLayoutAlign="center center">
        <div class="FundooReset">
            <div class="form-head-text">
                <img src='../../../assets/Fundoo.png' alt="" width='110' height='15' />
                <h1>Reset Password</h1>
            </div>
            <form [formGroup]="resetpasswordForm" (ngSubmit)="OnSubmit()">
                <div>
                    <div>
                        <mat-form-field class="designEmailreset" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'"  placeholder="Password" formControlName="password">
                            <mat-error>Enter valid Password</mat-error>
                        </mat-form-field>
                    </div>
                    <mat-form-field class="designEmailreset" appearance="outline">
                        <mat-label>Confirm</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'"  placeholder="confirmPassword" formControlName="confirmPassword">
                        <mat-error>Password not match</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-footer">
                    <div>
                        <button mat-flat-button color="primary">
                            Next
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>